# First Meeting

## Integers
There are no limitations for integers, it's limited by the amount of memory your system has.

In [15]:
print(10)
print(100)
print(583192316113+1)

print(type(10))

10
100
583192316114
<class 'int'>

## Floating-Point Numbers
Floating-point numbers are a numerical representation to approximate real numbers, especially those with decimal points.

In [14]:
print(4.2E-4)
print(4.)
print(.2)
print(.4e7)
print(4.2e-4)

print(type(4.2E-4))

0.00042
4.0
0.2
4000000.0
0.00042
<class 'float'>

## Strings
String is a data type used to represent text or a sequence of characters.

In [10]:
print('Hello World')
print(type("Sarah"))
print('"Hello World"')
print("Can't")
print('"She" knows')
print(''' "She" knows she can't do it" ''')
print('')
display("Hello World")

Hello World
<class 'str'>
"Hello World"
Can't
"She" knows
 "She" knows she can't do it"

'Hello World'

## Boolean Type, Boolean Context, and “Truthiness”
- Boolean type is a fundamental data type that represents two values: True and False.
- Boolean context refers to a condition or expression is evaluated as either True or False.
- "Truthiness" is a concept that refers to the idea that not all values need to be explicitly True or False to be treated as boolean values in boolean contexts.

In [13]:
print(True)
print(False)

print(True + False)
print(True + True)
print(False + False)

print(type(True))
print(type(False))

True
False
1
2
0
<class 'bool'>
<class 'bool'>

## Variable Assignment

In [16]:
n = 1000
print(n)
n

1000

1000

In [17]:
a = 'b'
print(a)

a = 500
a

b

500

In [18]:
q = w = e = 19 #chained assignment
print(q)
print(w)
print(e)

z, x, y = 9, 8, 's'
print(z)
print(x)
print(y)

19
19
19
9
8
s

## Variable Types in Python

In [19]:
var = 23.5
print(var)

var = "Now I'm a string"
print(var)

23.5
Now I'm a string

## Variable Names
In Python, officially, variable names can be of any length and can consist of both uppercase and lowercase letters (A-Z, a-z), digits (0-9), and underscore characters (_). Although variable names can contain numbers, the first character of a variable name cannot be a digit.

In [21]:
name = "Tiwaw"
Age = 58
has_laptops = True
print(name, Age, has_laptops)

Tiwaw 58 True

In [22]:
16_yourday = True #first character of a variable name cannot be a digit

SyntaxError: invalid decimal literal (878343658.py, line 1)

In [24]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

## Operators and Expressions in Python
operators and expressions are fundamental concepts used in programming to perform calculations, comparisons, and various operations on data.
- Operators are symbols or special keywords that indicate which operation to perform on one or more values. 
- Expressions, on the other hand, are combinations of values and operators that can be evaluated to produce a result.

### Arithmetic Operators

In [27]:
a = 9
b = 5
print(a + b) # penjumlahan
print(a - b) # pengurangan
print(a * b) # perkalian
print(a / b) # pembagian desimal
print(a // b) # pembagian integer
print(a ** b) # pangkat
print(a % b) # modulo

print(a + b + 23)

14
4
45
1.8
1
59049
4
37

### Comparison Operators

In [29]:
a = 5
b = 8
c = 3
print(a == b)
print(c == b) #sama dengan
print(a != b) #tidak sama dengan
print(a > b) # besar dari
print(a >= b) #besar dari sama dengan
print(a < b) #kecil dari sama dengan
print(a <= b) #kecil dari sama dengan

False
False
True
False
False
True
True

## String Manipulation

In [30]:
q = 'Stat'
w = 'istics'
print(q + w)
print('Hactiv' + '8')
print(q * a)
print(q in 'Statistics')
print(w in 'Statistic')

Statistics
Hactiv8
StatStatStatStatStat
True
False

In [31]:
d = 'UniVersITas DiPONegoRO'
#Uppercase
print(d.upper())
#Lowercase
print(d.lower())
#Capitalize
print(d.capitalize())
#Swapcase
print(d.swapcase())
#Title
print(d.title())

UNIVERSITAS DIPONEGORO
universitas diponegoro
Universitas diponegoro
uNIvERSitAS dIponEGOro
Universitas Diponegoro

## Python List
List" is a collection of objects that is arbitrary and somewhat similar to arrays in many other programming languages but more flexible. In Python, lists are defined by including a sequence of objects separated by commas within square brackets ([]).

In [36]:
#index ke 0  1  2    3    4           5            6    7   8  9  10
daftar = [1, 2, 43, 'a', True, ['b', 300, False], 4.6, 1+1, a, q, w]
# index minus                                               -3 -2 -1
py = ['Sarah', 'KS19', 'Hatcktiv8']

In [37]:
print(type(daftar))
print(daftar)
print(daftar[3])
print(daftar[5])
print(daftar[7])
print(daftar[-3])
print(daftar[1:6])
print(daftar + py)
print(py * 3)
print(len(daftar))
print(max(py))
print(min(py))

<class 'list'>
[1, 2, 43, 'a', True, ['b', 300, False], 4.6, 2, ['foo', 'bar', 'baz', 'qux'], 'Stat', 'istics']
a
['b', 300, False]
2
['foo', 'bar', 'baz', 'qux']
[2, 43, 'a', True, ['b', 300, False]]
[1, 2, 43, 'a', True, ['b', 300, False], 4.6, 2, ['foo', 'bar', 'baz', 'qux'], 'Stat', 'istics', 'Sarah', 'KS19', 'Hatcktiv8']
['Sarah', 'KS19', 'Hatcktiv8', 'Sarah', 'KS19', 'Hatcktiv8', 'Sarah', 'KS19', 'Hatcktiv8']
11
Sarah
Hatcktiv8

In [48]:
#index ke 0  1  2    3    4           5            6    7   8  9  10
daftar = [1, 2, 43, 'a', True, ['b', 300, False], 4.6, 1+1, a, q, w]
# index minus                                               -3 -2 -1
py = ['Sarah', 'KS19', 'Hatcktiv8']

daftar[8] = py
print(daftar)
daftar[-2] = 'Bahagia'
print(daftar)
# del daftar[3]
print(daftar)
daftar[:3] = [1.5]
print(daftar)

[1, 2, 43, 'a', True, ['b', 300, False], 4.6, 2, ['Sarah', 'KS19', 'Hatcktiv8'], 'Stat', 'istics']
[1, 2, 43, 'a', True, ['b', 300, False], 4.6, 2, ['Sarah', 'KS19', 'Hatcktiv8'], 'Bahagia', 'istics']
[1, 2, 43, 'a', True, ['b', 300, False], 4.6, 2, ['Sarah', 'KS19', 'Hatcktiv8'], 'Bahagia', 'istics']
[1.5, 'a', True, ['b', 300, False], 4.6, 2, ['Sarah', 'KS19', 'Hatcktiv8'], 'Bahagia', 'istics']

In [49]:
tapel = (1, 2, 43, 'a', True, ['b', 300, False], 4.6, 1+1, a, q, w)
print(tapel)
print(tapel[1:5])

(1, 2, 43, 'a', True, ['b', 300, False], 4.6, 2, ['foo', 'bar', 'baz', 'qux'], 'Stat', 'istics')
(2, 43, 'a', True)

## Python Tuples

In [46]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
print(t)
print(t[0])
print(t[-1])

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
foo
corge

In [47]:
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')
s1

'foo'

## Python Dictionary

In [50]:
kamus = {
    'apa':'what', 'siapa':'who', 'bagaimana':'how'
}
print(type(kamus))
print(kamus['apa'])
kamus['kapan'] = 'when'
print(kamus)
del kamus['apa']
print(kamus)
# kamus.clear()
print(kamus)

<class 'dict'>
what
{'apa': 'what', 'siapa': 'who', 'bagaimana': 'how', 'kapan': 'when'}
{'siapa': 'who', 'bagaimana': 'how', 'kapan': 'when'}
{'siapa': 'who', 'bagaimana': 'how', 'kapan': 'when'}

In [51]:
alamat = {}

alamat['kota'] = ['madagascar'] 
alamat['jalan'] = 'situ baru'
alamat['nomor rumah'] = 10
alamat['pohon'] = ['cendana', 'mahoni', 'beringin']
alamat['akses'] = {'KRL':'bisa', 'TJ':{'bisa':'tapi susah'}, 'ojol':'tidak'}

print(alamat)
print(alamat['pohon'][1])
print(alamat['akses']['TJ']['bisa'])
print(alamat.items())
print()
print(alamat.values())
print()
print(alamat.keys())

{'kota': ['madagascar'], 'jalan': 'situ baru', 'nomor rumah': 10, 'pohon': ['cendana', 'mahoni', 'beringin'], 'akses': {'KRL': 'bisa', 'TJ': {'bisa': 'tapi susah'}, 'ojol': 'tidak'}}
mahoni
tapi susah
dict_items([('kota', ['madagascar']), ('jalan', 'situ baru'), ('nomor rumah', 10), ('pohon', ['cendana', 'mahoni', 'beringin']), ('akses', {'KRL': 'bisa', 'TJ': {'bisa': 'tapi susah'}, 'ojol': 'tidak'})])

dict_values([['madagascar'], 'situ baru', 10, ['cendana', 'mahoni', 'beringin'], {'KRL': 'bisa', 'TJ': {'bisa': 'tapi susah'}, 'ojol': 'tidak'}])

dict_keys(['kota', 'jalan', 'nomor rumah', 'pohon', 'akses'])